#about-content
  #delivery-info
    .piecora-title
      Delivery
    %ul
      %li
        We accept MC/Visa/Discover/Amex and cash. 
      %li
        Sorry, no personal checks! 
      %li
        There is a $10 minimum purchase required for FREE delivery.
      %li
        Our delivery area covers the central area of Seattle from I-90 
        on the south end to SR 520 on the north end, east of I-5 to 
        Lake Washington.
    #delivery-area
      = image_tag "delivery_area.png"
  #hours
    .piecora-title
      Hours
    %table#hour-table
      - for hour in @hours
        %tr
          %td.day-cell
            = hour['day']
          %td.time-cell
            = hour['open']
          %td.to-cell
            to
          %td.time-cell
            = hour['close']
  #location
    .piecora-title
      Location
    .description
      = @location['desc'] 
    #statue-of-liberty
      = image_tag "pizza-tossin-statue-of-liberty.png"  
  #contact
    .piecora-title
      Contact Us
    #contact-us
      = @contact['desc']
