<!DOCTYPE html>
%html
  %head
    %title Piecoras!
    = stylesheet_link_tag "piecoras"
    = stylesheet_if_exists params[:action]
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      #logo
        %a{:href => "/"}
          = image_tag "logo.png"
      #nav-content
        - for action in PiecorasController::EXPOSED_ACTIONS
          %a{:href => "/#{action}", 
              :class => params[:action] == action ? "current" : ""}
            .title-menu{:id => action}= action.capitalize
    #content
      = yield
